<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enquiry</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    {{{ css }}}
    {{{ authentication }}}
</head>

<body>
    <div class="container">
        {{!-- (constructUrl '/static/assets/live-chat.png') --}}
        {{> header logo='https://i.ibb.co/YhryV6D/live-chat.png' alt='live-chat' text='Enquiry'}}
        <div class="content">
            <p>
                <b>Hello Admin,</b>
            </p>
            <p>
                A new enquiry has been received by the user: {{ name }}
            </p>
            <p class="ticket-content">
                <strong>Subject: </strong>{{ subject }}<br>
                <strong>Comments: </strong>{{ comments }}
            </p>
            <p>
                <span>Attention Required!</span> Thank you.
            </p>
        </div>
        {{> footer }}
    </div>
</body>

</html>