<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Fraxioned</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    {{{ css }}}
</head>

<body>
    <div class="container">
        {{> header logo='https://i.ibb.co/2kKHdtw/home.png' alt='home' text='Welcome To Fraxioned'}}
<!--         {{> header logo=(constructUrl '/static/assets/lock.png') alt='home' text='Welcome To Fraxioned'}} -->
        <div class="content">
            <p>
                <b>Hello {{ name }},</b>
            </p>
            <p>
                We are excited to welcome you to the Fraxioned family and congratulate you on purchasing a share of a
                beautiful vacation home.
            </p>
            <p>
                The next step is to log in to your Owners' Portal account. This is where you can book time to stay at
                your home, find important documents, and much more.
            </p>
            <p>
                <b>Your Account</b>
            </p>
            <p>
                We created your account and uploaded some basic information to your profile. Here is your user name and
                password to get started:
            </p>
            <table>
                <tr class="thead">
                    <th>Username</th>
                    <th>Password</th>
                </tr>
                <tr>
                    <td>{{ username }}</td>
                    <td>{{ password }}</td>
                </tr>
            </table>
            <p class="highlight-text">
                Please be sure to create a new, unique password after logging in.
            </p>
            <p>
                Well, what are you waiting for? Create your first booking today and get ready to make lifelong memories
                at your new home away from home.
            </p>
            <a href={{ link }} class="button">My Account</a>
            <p>
                <b>Questions?</b>
            </p>
            <p>
                If you need help accessing your account or have any other questions about your new Fraxioned home,
                please contact <a href="mailto:owners@fraxioned.com" class="mail">owners@fraxioned.com</a>
            </p>
        </div>
        {{> footer }}
    </div>
</body>

</html>
